.mapbox-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.map-container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}




.map-control {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.slider-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}

.slider-row label {
  flex: 0 0 100px;
  margin-right: 10px;
}

.slider-row input[type="range"] {
  flex: 1;
}

@media (max-width: 450px) {
  .price-slider {
    width: calc(100% - 40px);
    border-radius: 0;
  }
}

.slider-row.hidden {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}

.price-slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.price-slider-header h3 {
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  color: #333; /* Adjust color to match your design */
  transition: opacity 0.3s ease;
}

.toggle-button:hover {
  opacity: 0.7;
}

.map-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 50%;
  max-height: 10vh;
  opacity: 0.4;
  z-index: 1000;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .map-logo {
    top: auto;
    right: auto;
    bottom: 40px; /* Increased from 10px to position it above the Mapbox logo */
    left: 10px;
    max-width: 30%; /* Reduced from 50% to make it smaller on mobile */
    max-height: 8vh; /* Reduced from 10vh to make it smaller on mobile */
  }
}

.mapboxgl-ctrl-attrib-inner {
  font-size: 12px;
  line-height: 24px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.split-map-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.split-map-overlay {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: col-resize;
  z-index: 1000;
}

.split-map-overlay::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
}

.split-map-overlay {
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}